body {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 3rem;
}

select {
  background-color: #2e2e2e;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid white;
  border-radius: 0.2rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

canvas {
  width: 50rem;
  height: 20rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

a {
  color: gray;
}



.text-formula {
  font-size: 1.25rem;
  margin: 2rem;
}

#instruction-start {
  margin-top: 3rem;
}

.slider-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 1rem;
}
.slider {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#amplitude-slider {
  accent-color: rgb(210, 10, 10);
}
#frequency-slider {
  accent-color: rgb(10, 160, 10);
}
#phase-slider {
  accent-color: rgb(10, 140, 200);
}
#offset-slider {
  accent-color: rgb(255, 210, 0);
}

.fourier-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 14rem;
  margin-bottom: 3rem;
}
.checkboxes-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}
#input-checkbox {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: white;
}
#fourier-checkbox {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: orange;
}
#modes-slider {
  width: 13rem;
  accent-color: orange;
}
.modes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

#credit {
  font-size: 0.9rem;
  color: gray;
  margin-top: 5rem;
}
